.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: black !important;
}

.navbar-brand {
   
    color:blue !important;
    
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: blue important;
    
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    font-size: 30px;
    color: #0d6efd;
}