.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: black !important;
}

.navbar-brand {
   
    color:blue !important;
    
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: blue important;
    
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    font-size: 30px;
    color: #0d6efd;
}
section {
    justify-content: center !important;
    display: flex !important;
}
.card {
   
    
    margin-right: 30px !important;
    --bs-card-group-margin: 300px !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}
/* Modifiche Footer */
.paragrafo h3{
    color: rgb(255, 255, 255);
    font-size: small;
}
.paragrafo h4{
    color: red;
    font-size: small;
}
.contenitorecontatti{
    display: flex;
    margin: 10px;
    margin-left: 260px;
    text-align: center;
}
.contenitorecontatti h4{
    margin: 10px;
    color: black;
    border: solid 1px;
    border-radius: 10px;
}
.contenitorecontatti h5{
    font-style: italic;
    justify-content: center;

}
footer h3{
    color: rgb(244, 232, 0);
}